<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.business.system.goods.mapper.GoodsAttrMapper">

<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

  <select id="selectGoodsDtoById" parameterType="Long" resultType="java.util.List">
      select  a.*  
        from t_system_goods a
        left join t_system_goods_attr b  on a.id = b.goods_id
        where b.goods_id = #{goodsId}
  </select>
  
    <select id="selectGoodsByattrId" parameterType="Long" resultType="org.business.system.goods.model.dto.GoodsDto">
        select  a.cost_price as costPrice,a.sell_price as sellPrice,a.inventory as inventory,a.sales as sales,a.sku1 as sku1,a.sku_desc1 as skuDesc1,a.sku_pic as skuPic,
              b.id as id,b.goods_serial as goodsSerial,b.goods_name as goodsName,b.describle as describle,b.brand_id as brandId,b.merchant_id as merchantId,
              b.material as material,b.specifications as specifications,b.style as style,b.product  as product,b.weight as weight,b.suitable as suitable,b.pic as pic,
              b.detail as detail,b.keyword  as keyword,b.is_invoice as isInvoice,b.is_warranty as isWarranty,b.other_service as otherService,b.remark as  remark,
              b.one_menu as oneMenu,b.two_menu as twoMenu,b.create_date  as createDate,b.modify_date as  modifyDate,b.status as  status ,b.creator as  creator,
              b.modifier as modifier
        from t_system_goods_attr a
        left join t_system_goods b  on a.goods_id = b.id
        where a.id = #{attrId}
  </select>
	
</mapper>